<ion-header>
    <ion-toolbar>
        <ion-title>MODULOS DE PRUEBAS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <ion-button [routerLink]="['/registro-usuario']" type="button" color="primary" shape="full" expand="block"> Registo de usuario </ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button [routerLink]="['/registro-paciente']" type="button" color="primary" shape="full" expand="block"> Registo de paciente </ion-button>
        </ion-col>
    </ion-row>
</ion-content>